pytest_automated_testing/test/__pycache__/test_mathlib.cpython-37-PYTEST.pyc
pytest_automated_testing/test/__pycache__/test_mathlib2.cpython-37-PYTEST.pyc
pytest_automated_testing/test/__pycache__/test_mydb.cpython-37-PYTEST.pyc
pytest_official_tutorial/1_getting_started/__pycache__/test_sysexit.cpython-37-PYTEST.pyc
pytest_official_tutorial/1_getting_started/__pycache__/__init__.cpython-37.pyc
pytest_official_tutorial/1_getting_started/__pycache__/test_class.cpython-37-PYTEST.pyc
pytest_official_tutorial/1_getting_started/__pycache__/test_sample.cpython-37-PYTEST.pyc
pytest_official_tutorial/1_getting_started/__pycache__/test_tmpdir.cpython-37-PYTEST.pyc
pytest_official_tutorial/jupyter_notebooks/.ipynb_checkpoints/1_getting_started-checkpoint.ipynb
pytest_official_tutorial/jupyter_notebooks/.ipynb_checkpoints/2_usage_and_invocations-checkpoint.ipynb
pytest_official_tutorial/pytest_official_tutorial.egg-info/PKG-INFO
pytest_official_tutorial/pytest_official_tutorial.egg-info/SOURCES.txt
pytest_official_tutorial/pytest_official_tutorial.egg-info/dependency_links.txt
pytest_official_tutorial/pytest_official_tutorial.egg-info/top_level.txt
VS_code/.ipynb_checkpoints/python_environments-checkpoint.ipynb
VS_code/debugger/__pycache__/python_demo.cpython-37.pyc
pytest_official_tutorial/2_asserts/__pycache__/__init__.cpython-37.pyc
pytest_official_tutorial/2_asserts/__pycache__/conftest.cpython-37-PYTEST.pyc
pytest_official_tutorial/2_asserts/__pycache__/test_assert1.cpython-37-PYTEST.pyc
pytest_official_tutorial/2_asserts/__pycache__/test_foocompare.cpython-37-PYTEST.pyc
VS_code/.ipynb_checkpoints/debugger-checkpoint.ipynb
pytest_official_tutorial/jupyter_notebooks/.ipynb_checkpoints/3_assertions-checkpoint.ipynb
jupyter_notebooks/.ipynb_checkpoints/notebook_extensions-checkpoint.ipynb
pytest_official_tutorial/3_fixtures/__pycache__/test_fixture_marks.cpython-37-PYTEST.pyc
pytest_official_tutorial/3_fixtures/__pycache__/conftest.cpython-37-PYTEST.pyc
pytest_official_tutorial/3_fixtures/__pycache__/test_anothersmtp.cpython-37-PYTEST.pyc
pytest_official_tutorial/3_fixtures/__pycache__/test_appsetup.cpython-37-PYTEST.pyc
pytest_official_tutorial/3_fixtures/__pycache__/test_db_transact.cpython-37-PYTEST.pyc
pytest_official_tutorial/3_fixtures/__pycache__/test_ids.cpython-37-PYTEST.pyc
pytest_official_tutorial/3_fixtures/__pycache__/test_instatiation_order.cpython-37-PYTEST.pyc
pytest_official_tutorial/3_fixtures/__pycache__/test_module.cpython-37-PYTEST.pyc
pytest_official_tutorial/3_fixtures/__pycache__/test_module2.cpython-37-PYTEST.pyc
pytest_official_tutorial/3_fixtures/__pycache__/test_setenv.cpython-37-PYTEST.pyc
pytest_official_tutorial/3_fixtures/__pycache__/test_smtpsimple.cpython-37-PYTEST.pyc
pytest_official_tutorial/3_fixtures/__pycache__/test_yield2.cpython-37-PYTEST.pyc
pytest_official_tutorial/jupyter_notebooks/.ipynb_checkpoints/4_fixtures-checkpoint.ipynb
conda_and_pycharm/.ipynb_checkpoints/1_conda_environment_setup-checkpoint.ipynb
pytest_official_tutorial/4_marks/__pycache__/test_server.cpython-37-PYTEST.pyc
pytest_official_tutorial/4_marks/__pycache__/conftest.cpython-37-PYTEST.pyc
pytest_official_tutorial/4_marks/__pycache__/test_custom_marker.cpython-37-PYTEST.pyc
pytest_official_tutorial/4_marks/__pycache__/test_mark_three_times.cpython-37-PYTEST.pyc
pytest_official_tutorial/4_marks/__pycache__/test_module.cpython-37-PYTEST.pyc
pytest_official_tutorial/4_marks/__pycache__/test_plat.cpython-37-PYTEST.pyc
pytest_official_tutorial/4_marks/__pycache__/test_someenv.cpython-37-PYTEST.pyc
pytest_official_tutorial/5_temporary_dirs_and_files/__pycache__/test_tmp_path.cpython-37-PYTEST.pyc
pytest_official_tutorial/5_temporary_dirs_and_files/__pycache__/conftest.cpython-37-PYTEST.pyc
pytest_official_tutorial/5_temporary_dirs_and_files/__pycache__/test_tmpdir.cpython-37-PYTEST.pyc
pytest_official_tutorial/jupyter_notebooks/.ipynb_checkpoints/7_temporary_directories_and_files-checkpoint.ipynb
pytest_official_tutorial/jupyter_notebooks/.ipynb_checkpoints/6_monkeypatching_and_mocking-checkpoint.ipynb
pytest_official_tutorial/jupyter_notebooks/.ipynb_checkpoints/5_marking_attributes-checkpoint.ipynb
